<div class="d-flex justify-content-center align-items-center w-100 p-5" style="height: 100vh;">
    <div class="row shadow border rounded">
        <div class="col-6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTak5whWNd0cn_D-mL75N1-NlPmkycoS0HMPgrKcbaK-jhnuIyyNevOvAOtmZgiEc6zOmE&usqp=CAU" alt="" height="500px" width="500px">
        </div>
        <div class="col-6 justify-content-center d-flex align-items-center flex-column ps-5">
            <h4>Login</h4>
            <form [formGroup]="logForm" (ngSubmit)="handleSubmit()">
                <input type="email" formControlName="email" name="em" id="" class="form-control mb-3" placeholder="Enter Your Email">
                <div class="text-danger" *ngIf="logForm.get('email')?.errors && logForm.get('email')?.touched">
                    Invalid email
                </div>
                <input type="password" formControlName="password" name="ps" id="" class="form-control mb-3" placeholder="Enter Your password">
                <div class="text-danger" *ngIf="logForm.get('password')?.errors && logForm.get('password')?.touched">
                    Invalid password
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-success" type="submit" [disabled]="logForm.invalid">Login</button>
                    <a routerLink="/reg">New User?</a>
                </div>
            </form>
        </div>
    </div>
</div>