<div class="d-flex justify-content-center align-items-center w-100 p-5" style="height: 100vh;">
    <div class="row shadow border rounded">
        <div class="col-6">
            <img src="https://i.pinimg.com/originals/d8/8f/a4/d88fa43aa79db7dfd147f459b4c71d00.png" alt="" height="500px" width="500px">
        </div>
        <div class="col-6 justify-content-center d-flex align-items-center flex-column px-5">
            <h4>Registration</h4>
            <form>
                <input type="email" name="em" id="" class="form-control mb-3" placeholder="Enter Your Email">
                <input type="text" name="us" id="" class="form-control mb-3" placeholder="Enter Your username">
                <input type="password" name="ps" id="" class="form-control mb-3" placeholder="Enter Your password">
                <div class="d-flex justify-content-between">
                    <button class="btn btn-success" type="submit">Register</button>
                    <a routerLink="/log">Already User?</a>
                </div>
            </form>
        </div>
    </div>
</div>